@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --basewhite: rgba(255, 255, 255, 1);
  --body-extra-large-regular-font-family: "Manrope", Helvetica;
  --body-extra-large-regular-font-size: 18px;
  --body-extra-large-regular-font-style: normal;
  --body-extra-large-regular-font-weight: 400;
  --body-extra-large-regular-letter-spacing: 0px;
  --body-extra-large-regular-line-height: 160.0000023841858%;
  --body-large-medium-font-family: "Plus Jakarta Sans", Helvetica;
  --body-large-medium-font-size: 16px;
  --body-large-medium-font-style: normal;
  --body-large-medium-font-weight: 500;
  --body-large-medium-letter-spacing: 0px;
  --body-large-medium-line-height: 160.0000023841858%;
  --body-large-regular-font-family: "Manrope", Helvetica;
  --body-large-regular-font-size: 16px;
  --body-large-regular-font-style: normal;
  --body-large-regular-font-weight: 400;
  --body-large-regular-letter-spacing: 0px;
  --body-large-regular-line-height: 160.0000023841858%;
  --body-large-semi-bold-font-family: "Manrope", Helvetica;
  --body-large-semi-bold-font-size: 16px;
  --body-large-semi-bold-font-style: normal;
  --body-large-semi-bold-font-weight: 600;
  --body-large-semi-bold-letter-spacing: 0px;
  --body-large-semi-bold-line-height: 160.0000023841858%;
  --body-medium-medium-font-family: "Manrope", Helvetica;
  --body-medium-medium-font-size: 14px;
  --body-medium-medium-font-style: normal;
  --body-medium-medium-font-weight: 500;
  --body-medium-medium-letter-spacing: 0px;
  --body-medium-medium-line-height: 160.0000023841858%;
  --body-medium-regular-font-family: "Plus Jakarta Sans", Helvetica;
  --body-medium-regular-font-size: 14px;
  --body-medium-regular-font-style: normal;
  --body-medium-regular-font-weight: 400;
  --body-medium-regular-letter-spacing: 0px;
  --body-medium-regular-line-height: 160.0000023841858%;
  --body-medium-semi-bold-font-family: "Manrope", Helvetica;
  --body-medium-semi-bold-font-size: 14px;
  --body-medium-semi-bold-font-style: normal;
  --body-medium-semi-bold-font-weight: 600;
  --body-medium-semi-bold-letter-spacing: 0px;
  --body-medium-semi-bold-line-height: 160.0000023841858%;
  --body-small-regular-font-family: "Manrope", Helvetica;
  --body-small-regular-font-size: 12px;
  --body-small-regular-font-style: normal;
  --body-small-regular-font-weight: 400;
  --body-small-regular-letter-spacing: 0px;
  --body-small-regular-line-height: 160.0000023841858%;
  --body-small-semi-bold-font-family: "Manrope", Helvetica;
  --body-small-semi-bold-font-size: 12px;
  --body-small-semi-bold-font-style: normal;
  --body-small-semi-bold-font-weight: 600;
  --body-small-semi-bold-letter-spacing: 0px;
  --body-small-semi-bold-line-height: 160.0000023841858%;
  --headline-headline-2-medium-font-family: "Manrope", Helvetica;
  --headline-headline-2-medium-font-size: 48px;
  --headline-headline-2-medium-font-style: normal;
  --headline-headline-2-medium-font-weight: 500;
  --headline-headline-2-medium-letter-spacing: 0px;
  --headline-headline-2-medium-line-height: 139.9999976158142%;
  --headline-headline-4-semi-bold-font-family: "Manrope", Helvetica;
  --headline-headline-4-semi-bold-font-size: 24px;
  --headline-headline-4-semi-bold-font-style: normal;
  --headline-headline-4-semi-bold-font-weight: 600;
  --headline-headline-4-semi-bold-letter-spacing: 0px;
  --headline-headline-4-semi-bold-line-height: 139.9999976158142%;
  --headline-headline-5-medium-font-family: "Manrope", Helvetica;
  --headline-headline-5-medium-font-size: 20px;
  --headline-headline-5-medium-font-style: normal;
  --headline-headline-5-medium-font-weight: 500;
  --headline-headline-5-medium-letter-spacing: 0px;
  --headline-headline-5-medium-line-height: 139.9999976158142%;
  --headline-headline-5-semi-bold-font-family: "Manrope", Helvetica;
  --headline-headline-5-semi-bold-font-size: 20px;
  --headline-headline-5-semi-bold-font-style: normal;
  --headline-headline-5-semi-bold-font-weight: 600;
  --headline-headline-5-semi-bold-letter-spacing: 0px;
  --headline-headline-5-semi-bold-line-height: 139.9999976158142%;
  --neutral-300: rgba(90, 93, 92, 1);
  --neutral-50: rgba(249, 250, 250, 1);
  --neutral-500: rgba(8, 13, 11, 1);
  --primary-500: rgba(30, 69, 90, 1);
  --primary-900: rgba(13, 29, 38, 1);
}
